<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GetImageMetaData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GetImageMetaData.Properties.Settings>
            <setting name="personGroupID" serializeAs="String">
                <value />
            </setting>
            <setting name="dvrIP" serializeAs="String">
                <value />
            </setting>
            <setting name="dvrUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="dvrPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="personGroupName" serializeAs="String">
                <value />
            </setting>
            <setting name="ipCameraIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ipCameraUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="ipCameraPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="dvrChannels" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="otherVideoSource" serializeAs="String">
                <value>EXAMPLE - rtsp://{un}:{pw}@{ip}/cam/realmonitor?channel={ch}&amp;subtype={sch}</value>
            </setting>
            <setting name="ipCameraChannels" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dvrSubChannel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ipCameraSubChannel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="selCameraNetwork" serializeAs="String">
                <value />
            </setting>
            <setting name="selCamera" serializeAs="String">
                <value />
            </setting>
            <setting name="textKey" serializeAs="String">
                <value />
            </setting>
            <setting name="textEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="translatorKey" serializeAs="String">
                <value />
            </setting>
            <setting name="translatorEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="cosmosDataBaseURI" serializeAs="String">
                <value />
            </setting>
            <setting name="cosmosPrimaryKey" serializeAs="String">
                <value />
            </setting>
            <setting name="cosmosPrimaryConString" serializeAs="String">
                <value />
            </setting>
            <setting name="verifyPersonDelete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="verifyPersonGroupDelete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cognitiveServicesKey" serializeAs="String">
                <value />
            </setting>
            <setting name="cognitiveServicesEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="useContainerMode" serializeAs="String">
                <value>False</value>
            </setting>
        </GetImageMetaData.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ProjectOxford.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
